<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <nav>
    <button> <a href="/parks">Your Parks</a></button>
    <button> <a href="/parks/new">Add a new park</a></button>
    <button> <a href="/sports/new">Add an activity</a></button>
    <button> <a href="/auth/google">Logout</a></button>
    </nav>
    <main>
        <h1></h1>