<%- include('../partials/header') %>
    <p>Please first ensure that the activity is not in the dropdown
        <select>
          <% sports.forEach(function(s) { %>
            <option><%= s.name %></option>
          <% }) %>
        </select>
    </p>
      <form id="add-activity-form" action="/sports" method="POST">
        <label>Activity:</label>
        <input type="text" name="parkActivity">
        <button type="submit">Add Activity</button>
      </form>
      <%- include('../partials/footer') %>
