<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of all parks</title>
</head>
<body>
    <table id="list">
        <thead>
          <tr>
            <th>National Park</th>
            <th>Year</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% parks.forEach(function(p) { %>
            <tr>
              <td><%= p.name %></td>
              <td><%= p.year %></td>
              <td><a href="/parks/<%= p._id %>">Details</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
</body>
</html>
