<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of all parks</title>
</head>
<body>
    <h1>This page will include a parks tracker with a link to go to park details</h1>
    <button> <a href="/parks/individual">Individual Park Details</a></button>
</body>
</html>
