<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Individual Park Information</title>
</head>
<body>
    <h1>This page will feature the function to add a park </h1>
    <form id="new-form" action="/parks" method="POST">
        <label>National Park:</label>
        <input type="text" name="name">
        <label>Year went:</label>
        <input type="text" name="year">
        <label>Location</label>
        <select name="location">
          <option value="-">-</option>
          <option value="AK">AK</option>
          <option value="AK">AK</option>
          <option value="AS">AS</option>
          <option value="AZ">AZ</option>
          <option value="AR">AR</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="FL">FL</option>
          <option value="HI">HI</option>
          <option value="IN">IN</option>
          <option value="KY">KY</option>
          <option value="ME">ME</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MO">MO</option>
          <option value="MT">MT</option>
          <option value="NV">NV</option>
          <option value="NM">NM</option>
          <option value="ND">ND</option>
          <option value="OH">OH</option>
          <option value="OR">OR</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TX">TX</option>
          <option value="VI">VI</option>
          <option value="UT">UT</option>
          <option value="VA">VA</option>
          <option value="WA">WA</option>
          <option value="WY">WY</option>
          <option value="CA/NV">CA/NV</option>
          <option value="NC/TN">NC/TN</option>
        </select>
        <label>Favorite:</label>
        <input type="checkbox" name="favorite" checked>
        <input type="submit" value="Add Park">
      </form>
</body>
</html>
